* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(6, 35, 47);
    height: 100vh;
    width: 100vw;
    
}
nav {
    background-color: rgb(6, 35, 47);
    height: 60px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 7px rgb(87, 54, 78);
}
a {
    text-decoration: none;
    color: rgb(228, 220, 220);
    border: 2px solid rgb(228, 220, 220);
    padding: 3px 7px;
    border-radius: 15px;
    margin: auto;
    font-size: 15px;
    
}
li {
    display:inline-flex;
    float: right;
    padding-inline-start: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 20px;
    
}


main {
    display: grid;
    text-align: center;
    grid-template-areas:
    'a a b'
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 10px;
    height: 350px;
    width: 50%;
    margin: auto;
    margin-top: 20vh;
    
    
}
main div{
    border-radius: 1px;
    box-shadow: 3px  3px 20px  ;
}
.item-a {
    background-color: #eb5020;
    grid-area: a;
}
.item-b {
    background-color: #ffa401;
    grid-area: b;
}
.item-c {
    background-color: #05aa42;
    grid-area: c;
}
.item-d {
    background-color: #01aefd;
    grid-area: d;
}
.item-e {
    background-color: #01aefd;
    grid-area: e;
}
@media screen and (max-width:800px) {
    main {
        height: 250px;
        
    }
}
@media screen and (max-width:500px) {
    main {
        grid-template-areas:
        'a a a a'
        'a a a a'
        'b b b b'
        'c c c c'
        'd d d d'
        'e e e e'
         ;
        height: 80vh;
        margin-top: 10vh;
    } 
    
}   

@media screen and (max-width:320px) {
    main {
        grid-template-areas:
        'a a a a'
        'a a a a'
        'b b b b'
        'c c c c'
        'd d d d'
        'e e e e'
         ;
        height: 80vh;
    }
    
}   